<template>
    <div class="text-left" v-if="showForm">

        <div class="card bg-light">
            <div class="card-header bg-dark text-light">Login</div>
            <div class="card-body">

                <form>
                    <vue-form-generator :schema="schema" :model="model" :options="formOptions" ref="loginForm">
                    </vue-form-generator>
                    <input type="button" class="btn btn-dark w-100" @click="clickedSubmit" value="LogIn !" ref="submitButton">
                </form>

            </div>
        </div>

    </div>
</template>

<script>
export default {
  name: 'LoginForm',

  data () {
    return {
      model: null,
      schema: null,
      formOptions: {
        validateAfterLoad: false,
        validateAfterChanged: true
      },
      urlFormGet: 'user/loginForm',
      urlFormSend: '',
      showForm: false,
      disabledForm: false
    }
  },
  created () {
    this.getForm()
  },
  methods: {
    getForm () {
      // Get form schema, model and options
      console.log('getting form data')
      this.$api.get(this.urlFormGet)
        .then((response) => {
          this.model = response.data.model
          this.schema = response.data.schema

          if (response.data.options) this.options = response.data.options

          this.showForm = true
        })
        .catch((error) =>
          console.log(error)
        )
    },
    clickedSubmit () {
      if (this.$refs.loginForm.validate()) {
        // Validate Form - is ok
        console.log('ok - ready to send')
        this.$api.post(this.urlFormSend, {
          email: this.email,
          password: this.password
        })
          .then((response) => {
            console.log(response)
          })
          .catch((error) => {
            console.log(error)
          }
          )
      }
    },
    injectError (fieldName, errorMsg) {
      // Method inject error message to field

      // Search in schema field object
      var fieldObj = null

      for (const field of this.schema.fields) {
        if (field.model === fieldName) {
          fieldObj = field
          break
        }
      }

      // Inject error
      this.$refs.loginForm.errors.push({
        error: errorMsg,
        field: fieldObj
      })
    },
    disableForm () {
      // Disabling Form

      // Disable Form Fields
      for (const field of this.schema.fields) {
        field.disabled = true
      }

      // Disable submit button
      this.$refs.submitButton.disabled = true

      this.disabledForm = true
    },
    unlockForm () {
    // Disabling Form

      // Disable Form Fields
      for (const field of this.schema.fields) {
        field.disabled = false
      }

      // Disable submit button
      this.$refs.submitButton.disabled = false

      this.disabledForm = false
    }
  }

}

</script>

<style scoped>

</style>
