<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>

</script>

<style>
    body, html {
        padding: 0;
    }
    #app {
        padding: 0;
    }
</style>
