<template>

    <div>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">

                <router-link class="navbar-brand" to="/">KosmCODE CMS</router-link>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">

                            <router-link class="nav-link" to="/register">Register</router-link>

                        </li>
                        <li class="nav-item" to="/login">

                            <router-link class="nav-link" to="/login">Login</router-link>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <router-view></router-view>

                </div>
            </div>
        </div>

    </div>

</template>

<script>
export default {
  name: 'IndexSite'
}
</script>

<style scoped>

</style>
