<template>
    <div class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
        <nav-bar/>
        <aside-menu :menu="menu"/>
        <router-view/>
        <footer-bar/>
    </div>
</template>

<script>
// @ is an alias to /src
import NavBar from '@/components/NavBar'
import AsideMenu from '@/components/AsideMenu'
import FooterBar from '@/components/FooterBar'

export default {
  name: 'IndexAdmin',
  components: {
    FooterBar,
    AsideMenu,
    NavBar
  },
  computed: {
    menu () {
      return [
        'Content',
        [

        ],
        'General',
        [

        ],
        'Develop',
        [
          {
            label: 'Examples',
            subLabel: 'Examples',
            icon: 'view-list',

            menu: [
              {
                to: '/admin/',
                icon: 'desktop-mac',
                label: 'Dashboard'
              },
              {
                to: '/admin/tables',
                label: 'Tables',
                icon: 'table',
                updateMark: true
              },
              {
                to: '/admin/forms',
                label: 'Forms',
                icon: 'square-edit-outline'
              },
              {
                to: '/admin/profile',
                label: 'Profile',
                icon: 'account-circle'
              }
            ]
          }
        ]

        /*
                  'About',
                  [
                    {
                      href: 'https://admin-one-vue-cli.justboil.me',
                      label: 'Premium Demo',
                      icon: 'credit-card'
                    },
                    {
                      href: 'https://justboil.me/bulma-admin-template/one',
                      label: 'About',
                      icon: 'help-circle'
                    }
                  ]
                    */
      ]
    }
  },
  created () {
    //
  },
  beforeMount () {
    // Add Admin Dashboard class to html tag
    document.getElementsByTagName('html')[0].className += ' has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded'
  }
}
</script>

<style>

</style>
