<template>

    <div>
        <div class="container mt-5 mb-5">
            <div class="row">

                <div class="col-3"></div>

                <div class="col-6">

                    <login-form></login-form>

                </div>

                <div class="col-3"></div>

            </div>
        </div>
    </div>

</template>

<script>
import LoginForm from '../components/form/LoginForm'
export default {
  name: 'Login',
  components: { LoginForm }
}
</script>

<style scoped>

</style>
